*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', "Open Sans", Helvetica, Arial, sans-serif
}

.w100 {
    font-weight: 100;
  }
.w200 {
    font-weight: 200;
  }
.w300 {
    font-weight: 300;
  }
.w400 {
    font-weight: 400;
  }
.mt{
    margin-top: 8vh;
}
h1{
    color: white;
    text-align: center;
    font-family: 'Helvetica';
    letter-spacing: 2px;
    font-size: 30px; 
}
button{
    border-radius: 50px;
    padding: 5px 20px;
    font-weight: bolder;
    cursor: pointer;
    background-color: #e0e0e0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}
.book-now:hover{
    color: white;
    background-color: red;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .noise::before{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    /* you can control opacity of noise  */
    opacity: .1;  
    z-index: -1;
    pointer-events: none;
    background: url(/images/noise.gif);
    
}

.header-text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.header-text img{
    width: 20%;
}
  
.service {
    height: 100vh;
    margin-top: 8vh;
}

.service .service-list{
    width: 82vw;
    display: grid;
    grid-template-columns: auto auto;
    z-index: 2;
    margin: 0 auto;  
}

.service .service-list > div{
    width: 100%;
    height: 15vh;
    cursor: pointer;
  }
.service .service-list img{
    width: 100%;
    height: 15vh;
    object-fit: cover;
}
.service-overlay-text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.off-road-text{
    position: absolute;
    color: white;
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 1px 1px 4px black;
    z-index: 2;
    text-align: center;
}

.image1 {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(255, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    z-index: 3;
  }
  
  .service-overlay-text:hover .overlay {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.featured-build-container {
    height: 100vh;
    width: 82vw;
}
.featured-build-header {
    color: white;
    font-size: 24px;
    font-weight: bolder;
    position: absolute;
    top: 20%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
  }

.news-events {
    height: 70vh;
}

.media {
    height: 70vh;
}

.merchandise-container {
    height: 100vh;
}

.testemonial {
    height: 100vh;
    width: 82vw;
}

.map{
    height: 100vh;
}
.powered-by-container {
    display: flex;
    flex-direction: column;   
}
.powered-by-container button{
    width: 35%;
    margin: 0 auto;
    cursor: pointer;
    background-color: red;
    color: white;
    font-size: large;
    font-weight: bolder;
    letter-spacing: 2px;
    text-align: center;
}
.powered-by-container button:hover{
   background-color: #b30000 ;
}
.map .map-partners{
    width: 35%;
    height: auto;
    margin: 0 auto;
}

.footer{
display: flex;
justify-content: space-between;
align-items: center;
margin: 0 100px;
}
    .footer .autobot-address{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer .autobot-address .logo-footer{
        width: 100px;
        height: auto;
        position: absolute;
    }
    .footer .autobot-address p{
        font-size: 12px;
    }
    .footer .autobot-address .address-line1{
        margin-top: 30px;
    }
    .footer .quick-links{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .footer .quick-links a{ 
       text-decoration: none;
       color: grey;
       font-size: 12px;
    }
    .footer .quick-links a:hover{ 
       color: red;
     }
    
    .footer .learn{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .footer .learn a{ 
       text-decoration: none;
       color: grey;
       font-size: 12px;
    }
    .footer .learn a:hover{ 
       color: red;
     }
     
     .footer .support{
        display: flex;
        flex-direction: column;
        align-items: center;
    } 
    .footer .support a{ 
       text-decoration: none;
       color: grey;
       font-size: 12px;
    }
    .footer .support a:hover{ 
       color: red;
     } 
    .footer p{
        font-size: 12px;
        color: grey;
    }

.last-text{
 display: flex;
 justify-content: space-evenly;
 margin-top: 10px;
 align-items: center;
 margin: 0 100px;
}
    .last-text .copy-right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .last-text .copy-right p{
        color: grey;
        font-size: 12px;
    }
    .last-text .soc-med{
        display: flex;
    }
    .last-text .terms-condition{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .last-text .terms-condition p{
        color: grey;
        font-size: 12px;
    }         
.home-banner{
    width: 82vw;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
.home-banner .gradient{
    width: 100%;
    height: 82vh;
    object-fit: cover;
    z-index: 2;
    margin-top: 18vh;
    background-image: linear-gradient(to top, black, transparent);
    opacity: 0.5;
    position: absolute;
}
.home-banner img:nth-child(1){
    width: 100%;
    height: 82vh;
    object-fit: cover;
    z-index: 2;
    margin-top: 18vh;
}
.hero-logo{
    display: flex;
    justify-content: center;
}
.hero-logo img{
    z-index: 2;
    position: absolute;
    top: 15%;
    width: 30%;
}

.home-banner section{
    width: 50vw;
    position: absolute;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 4px black;
    margin: 0 auto;
    text-align: center;
    /* background-color: rgb(0, 0, 0, .1); */
    top: 44%;
    left: 25%;
    z-index: 2;
}

 /* Mobile devices (portrait) */
 @media only screen and (max-width: 500px) {
   .text section{
   font-size: 8px;
   }
   .last-text{
    flex-direction: column;
    text-align: center;
    }
   .text h1{
    display: none;
    }
    .link1{
        width: 60px;
        height: 14px;
        line-height: 10px;
        font-size: 8px;
    }
    .link1 span{
        font-size: 8px;
    }
   .text-merch section{
    font-size: 6px;
   }
   .footer{
    flex-direction: column;
   }
   .home-banner section{
    top: 24%;
    font-size: 12px;
    background-color: rgb(0, 0, 0, 0.3);
    }
    .service .service-list{
        grid-template-columns: auto; 
    }
    .service .service-list > div{
        height: 10vh;
        /* border: 1px solid white; */
      }
    .service .service-list img{
        height: 10vh;
        /* border: 1px solid white; */
    }
    button{
        padding: 2px 5px;
        font-size: 10px;
    }
    h1{
        font-size: 16px;
    }
    .powered-by-container button{
        width: 70%;
        font-size: small;
    }
    .off-road-text{
        font-size: 12px;
    }
  }
  
  /* Tablets (portrait and landscape) */
  @media only screen and (min-width: 501px) and (max-width: 1024px) {
    .footer{
        flex-direction: column;
       }
    .last-text{
        flex-direction: column;
    }
    .text section{
        font-size: 10px;
    }
    .text h1{
         display: none;
    }
    .text-merch section{
        font-size: 8px;
    }
    h1{
        font-size: 20px;
    }
    .powered-by-container button{
        width: 70%;
        font-size: small;
    }
    .off-road-text{
        font-size: 18px;
    }
  }
  
  /* Desktops and larger devices */
  @media only screen and (min-width: 1025px) {
  
  }